{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{- define "model/fields/additional" -}}
    {{- /* Add fields to the "Token" entity. */}}
    {{- if eq $.Name "Token" -}}
        // [EXTENSION] AccessToken is the token used for authentication.
		// It does not store in the database and only shows up after created.
        AccessToken string `json:"accessToken,omitempty"`
    {{- end }}
{{- end }}
