{{/* gotype: entgo.io/ent/entc/gen.Type */}}

{{ define "io/additional/applicationresource" }}

{{- if eq $.Name "ApplicationResource" }}
	// Normalize normalizes the fields,
	// and impacts the output.
	func (in *{{ $.Name }}Output) Normalize() *{{ $.Name }}Output {
		if in.Module != "" {
			// show application module name only.
			in.Module = strings.Split(in.Module, "/")[0]
		}
		return in
	}

    // MarshalJSON implements the json.Marshaler interface.
	func (in *{{ $.Name }}Output) MarshalJSON() ([]byte, error) {
		type Alias {{ $.Name }}Output
		return json.Marshal((*Alias)(in.Normalize()))
    }
{{- end }}

{{ end }}
