{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "model/fields/additional" }}
    {{- /* Add "Keys" fields to the "ServiceResource" entity. */}}
    {{- if eq $.Name "ServiceResource" }}
        // Keys is the list of key used for operating the service resource,
		// it does not store in the database and only records for additional operations.
        Keys *types.ServiceResourceOperationKeys `json:"keys,omitempty"`
    {{- end }}
{{ end }}
