{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "tx/additional/clientset" }}

{{- range $n := $.Nodes }}
// {{ plural $n.Name }} implements the ClientSet.
func (tx *Tx) {{ plural $n.Name }}() *{{ $n.Name }}Client {
    return tx.{{ $n.Name }}
}
{{- end }}

{{ end }}

{{ define "tx/additional/withtx" }}

// WithTx gives a new transactional client in the callback function,
// if already in a transaction, this will keep in the same transaction.
func (tx *Tx) WithTx(ctx context.Context, callback func(tx *Tx) error) error {
    return callback(tx)
}

{{ end }}

{{ define "tx/additional/dialect" }}

// Dialect returns the dialect name of the driver.
func (tx *Tx) Dialect() string {
    return tx.driver.Dialect()
}

{{ end }}

{{ define "tx/additional/debug" }}

// Debug returns the debug value of the driver.
func (tx *Tx) Debug() *Client {
    return tx.client.Debug()
}

{{ end }}


{{ define "tx/additional/use" }}
// Use adds the mutation hooks to all the entity clients.
func (tx *Tx) Use(hooks ...Hook) {
    {{- range $n := $.Nodes }}
    tx.{{ $n.Name }}.Use(hooks...)
    {{- end }}
}

{{ end }}